{% extends "videochat/base.html" %}
{% load staticfiles %}
{% block content %}
	<h2>Add Contact</h2>
	        <form id="add-contact-form" method="post" action="">
	        	<div class="form-group">
	            {% csrf_token %}
                    <!--as_p for displaying new line if more items to display -->
	            {{ add_contact_form}}
	            </div>
	            <!-- Provide a button to click to submit the form. -->
	            <button type="submit" name="add-contact" id="add-contact" class="btn btn-primary">Update</button>
	        </form>
{% endblock content %}